<h2><%= t('movie_import.mail.status_title') %></h2>
<p>
  <%= t('movie_import.mail.status_message', status: t("movie_import.status.#{@import.status}")) %>
</p>

<% if @import.failed? %>
  <p><%= t('movie_import.mail.error_message', message: @import.error_message) %></p>
<% end %>
